#product-overview {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 10%, transparent),
        url("images/freedom.jpg") 10% 10% / cover no-repeat border-box
            border-box,
        red;
    width: 100vw;
    height: 35vh;
    position: relative;
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-origin: border-box;
    background-image: linear-gradient(180deg, red 40%, blue 80%, green);
    background-image: radial-gradient(circle closest-corner at bottom, red, blue, green);
    background-clip: border-box; */
}

#product-overview h1 {
    color: white;
    font-family: "Anton", sans-serif;
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 1.6rem;
    margin: 0;
}

@media (min-width: 40rem) and (min-height: 40rem) {
    #product-overview {
        height: 40vh;
        background-position: 50% 25%;
    }

    #product-overview h1 {
        font-size: 2.5rem;
    }
}

.section-title {
    color: #0bce35;
    text-align: center;
}

.plan {
    background: #7ed82c;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem 0;
    width: 100%;
}

.plan--highlighted {
    background: #18b106;
    color: white;
}

.plan__annotation {
    background: white;
    color: #18b106;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.37);
    border-radius: 8px;
}

.plan__title {
    color: #18b106;
}

.plan__price {
    color: rgb(59, 58, 58);
}

.plan--highlighted .plan__title {
    color: white;
}

.plan--highlighted .plan__price {
    color: #0e4f1f;
  }

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__feature {
    margin: 0.5rem 0;
}

@media (min-width: 40rem) {
    .plan__list {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .plan {
        width: 30%;
        min-width: 13rem;
        max-width: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 26rem;
    }

    .plan--highlighted {
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.45);
        z-index: 1;
        height: 28rem;
    }
}

#key-features {
    background: rgb(224, 101, 121);
    margin-top: 3rem;
    padding: 1rem;
}

#key-features .section-title {
    color: white;
    margin: 2rem;
}

.key-feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature__image {
    background: rgba(255, 255, 255, 0.507);
    width: 128px;
    height: 128px;
    border: 2px solid gray;
    border-radius: 50%;
    margin: auto;
    padding: 1.5rem;
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
}

@media (min-width: 40rem) {
    .key-feature {
        width: 30%;
        max-width: 25rem;
        vertical-align: top;
    }

    .key-feature__list {
        display: flex;
        justify-content: center;
    }
}

.modal {
    position: fixed;
    display: none;
    opacity: 0;
    transform: translateY(-3rem);
    transition: opacity 200ms ease-out, transform 400ms ease-out;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
}

.modal__actions {
    text-align: center;
}

.modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
}

.modal__action--negative {
    background: red;
    border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
}
