@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400&display=swap");

:root {
    --dark-green: #028b09;
    --light-green: #18b106;
    --light: #ebe8e8;
    --dark: #757272;
    --highlight-color: #ff2600;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding-top: 3.5rem;
}

@supports (display: grid) {
    body {
        display: grid;
        grid-template-rows: 3.5rem auto fit-content(8rem);
        grid-template-areas:
            "header"
            "main"
            "footer";
        padding-top: 0;
        height: 100%;
    }
}

main {
    /* grid-row: 2 / span 1; */
    grid-area: main;
}

.backdrop {
    position: fixed;
    display: none;
    opacity: 0;
    transition: opacity 400ms;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--dark-green);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-items: flex-end;
    justify-content: space-between;
}

.toggle-button {
    height: 2.5rem;
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.55rem 0;
}

.main-header__brand {
    color: var(--light);
    text-decoration: none;
    font-weight: bold;
    -webkit-tap-highlight-color: transparent;
}

.main-header__brand img {
    height: 2.5rem;
    vertical-align: middle;
}

.main-nav {
    display: none;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.main-nav__item {
    margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
    text-decoration: none;
    color: var(--dark);
    font-weight: bold;
    padding: 0.2rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta {
    animation: wiggle 400ms 1s 8 ease-out none;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
    color: white;
    background: var(--highlight-color);
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
    color: var(--highlight-color);
    background: white;
    border: none;
}

@media (min-width: 40rem) {
    .toggle-button {
        display: none;
    }

    .main-nav {
        display: flex;
    }

    .main-nav__item a {
        color: var(--light);
    }
}

.main-footer {
    background: black;
    padding: 0.5rem;
    margin-top: 3rem;
    /* grid-row: 3 / span 1; */
    grid-area: footer;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.main-footer__link {
    margin: 1rem 0;
}

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}

.mobile-nav {
    /* display: none; */
    /* opacity: 0; */
    transform: translateX(-100%);
    transition: transform 200ms ease-out;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 80vw;
    height: 100vh;
}

.mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-nav__item {
    margin: 1rem 0;
}

.mobile-nav__item a {
    font-size: 1.5rem;
}

.button {
    background: var(--light-green);
    color: white;
    font: inherit;
    border: 1.5px solid var(--dark-green);
    padding: 0.5rem;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: white;
    color: var(--light-green);
}

.button:focus {
    outline: none;
}

.button[disabled] {
    cursor: not-allowed;
    border: #969292;
    background: #ccc;
    color: #969292;
}

.open {
    display: block !important;
    opacity: 1 !important;
    transform: translateY(0) !important;
}

@media (min-width: 40rem) {
    .main-footer {
        padding: 2rem;
    }

    .main-footer__links {
        flex-direction: row;
        justify-content: center;
    }

    .main-footer__link {
        margin: 0 1rem;
    }
}

@keyframes wiggle {
    0% {
        transform: rotateZ(0);
    }
    50% {
        transform: rotateZ(-10deg);
    }
    100% {
        transform: rotateZ(10deg);
    }
}
