@font-face {
    font-family: "Mulish";
    src: url("./fonts/Mulish-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Mulish";
    src: url("./fonts/Mulish-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Mulish";
    src: url("./fonts/Mulish-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Mulish";
    src: url("./fonts/Mulish-Bold.ttf") format("truetype");
    font-weight: 700;
}

main {
    padding-top: 2rem;
}

.background {
    background: url("../images/plans-background.jpg") center/cover;
    filter: grayscale(40%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.package {
    width: 80%;
    margin: 1rem 0;
    border: 4px solid black;
    border-left: none;
    position: relative;
    background: #d4eac0;
    overflow: hidden;
}

.package:hover,
.package:active {
    box-shadow: 4px 4px 4px 0px hsla(0, 91%, 14%, 0.877);
    border-color: red;
    animation: push-up 1s ease-out forwards;
}

.package a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 2rem;
}

.package__badge {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.2rem;
    font-size: 0.8rem;
    color: white;
    background: red;
    padding: 0.5rem;
    transform: rotateZ(45deg) translateX(3rem) translateY(-2rem);
    transform-origin: center;
    width: 10rem;
    text-align: center;
}

.package__subtitle {
    color: #948787;
}

.package__info {
    padding: 1rem;
    border: 1px solid #524d4d;
    color: #0e4f1f;
    background: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font: 300 1.2rem "Mulish", sans-serif;
}

.clearfix {
    clear: both;
}

#plus {
    background: #79d25a;
}

#free {
    background: #a3d693;
    float: right;
    border-right: none;
    border-left: 0.25rem solid black;
    text-align: right;
}

#free:hover,
#free:active {
    border-left-color: red;
}

#premium {
    background: #1f6f05;
}

#premium .package__title {
    color: white;
}

#premium .package__subtitle {
    color: rgb(175, 152, 152);
}

@media (min-width: 40rem) {
    main {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1000px) {
    .package {
        border-left: 4px solid black;
    }

    #free {
        border-right: 4px solid black;
    }

    #free:hover,
    #free:active {
        border-right-color: red;
    }
}

@keyframes push-up {
    0% {
        transform: translateY(0);
    }

    33% {
        transform: translateY(-1.5rem);
    }

    100% {
        transform: translateY(-1rem);
    }
}
