.signup-title {
    text-align: center;
    padding-top: 2rem;
    color: red;
}

.signup-form {
    padding: 1rem;
    display: grid;
    gap: 1rem 0.5rem;
    align-items: center;
}

.signup-form label {
    font-weight: bold;
}

.signup-form label,
.signup-form input,
.signup-form select {
    display: block;
    /* margin-top: 1rem; */
    width: 100%;
}

.signup-form input[id*="terms"],
.signup-form input[type="checkbox"] + label {
    display: inline-block;
    width: auto;
    vertical-align: bottom;
}

.signup-form input:not([type="checkbox"]),
.signup-form select {
    border: 1px solid #ccc;
    padding: 0.2rem 0.8rem;
    font: inherit;
}

.signup-form input:focus,
.signup-form select:focus {
    outline: none;
    background: #d3f3df;
    border-color: green;
}

.signup-form input[type="checkbox"] {
    border: 1px solid #ccc;
    background: white;
    width: 1rem;
    height: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.signup-form input[type="checkbox"]:checked {
    background: #a4dba6;
    border: green;
}

.signup-form input.invalid,
.signup-form select.invalid,
.signup-form :invalid {
    border-color: red !important;
    background: #f7c4c4;
}

.signup-form button[type="submit"] {
    display: block;
    /* margin: 1rem auto; */
    justify-self: center;
}

@media (min-width: 40rem) {
    .signup-form {
        margin: auto;
        width: 30rem;
        /* max-width: 40rem; */
        grid-auto-rows: 2rem;
        grid-template-columns: 1fr 4fr;
    }

    .signup-form select {
        grid-column: span 2;
    }

    .signup-form__checkbox {
        grid-column: span 2;
    }

    .signup-form button[type="submit"] {
        grid-column: span 2;
    }
}
